.ex{
width:200px;
height:200px;
background:red;



}

@media (max-width: 575.98px) 
{ 

.ex{
width:500px;
height:500px;
background:green;
}

body{
background:blue;


}









}